
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #000;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    color: #b86bff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #b86bff;
}


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}


.about-text {
    width: 55%;
}

.about-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text h1 span {
    color: #b86bff;
}

.about-text p {
    font-size: 14px;
    line-height: 1.7;
    color: #e0dfdf;
    margin-bottom: 15px;
    max-width: 500px;
}

.about-text ul {
    margin-top: 20px;
    list-style: none;
}

.about-text ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.about-text ul strong {
    color: #b86bff;
}


.about-img img {
    width: 800px;
    border-radius: 100px;
    opacity: 0.5;
}

