
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    color: #b86bff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #b86bff;
}


.contact {
    padding: 80px;
    max-width: 1000px;
    margin: auto;
}

.contact h1 {
    font-size: 40px;
    text-align: center;
}

.contact h1 span {
    color: #b86bff;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin: 10px 0 50px;
    font-size: 14px;
}


.contact-box {
    display: flex;
    gap: 40px;
    background-color: #111;
    padding: 40px;
    border-radius: 15px;
}


.contact-info {
    width: 40%;
}

.contact-info h2 {
    color: #b86bff;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}


.social {
    margin-top: 20px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #b86bff;
    color: #b86bff;
    text-decoration: none;
    border-radius: 50%;
    font-size: 12px;
    transition: background 0.3s, color 0.3s;
}

.social a:hover {
    background-color: #b86bff;
    color: black;
}


.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
    border: 1px solid #333;
    color: white;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #777;
}

.contact-form button {
    background-color: #b86bff;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    opacity: 0.9;
}
