/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: black;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    color: #b86bff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 14px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #b86bff;
}

/* EDUCATION SECTION */
.education {
    padding: 80px;
    max-width: 900px;
    margin: auto;
}

.education h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.education h1 span {
    color: #b86bff;
}

/* EDUCATION CARD */
.edu-card {
    border-left: 3px solid #9e4ee9;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: #4f4a4f;
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(184, 107, 255, 0.3);
}


.edu-card h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.edu-card h3 {
    font-size: 16px;
    color: rgb(168, 98, 229);
    margin-bottom: 5px;
}

.year {
    font-size: 13px;
    color: #d2d2d2;
    margin-bottom: 10px;
}

.edu-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #bfbfbf;
}