
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #000;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    color: #b86bff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #b86bff;
}


.skills {
    padding: 80px;
    max-width: 700px;
    margin: auto;
}

.skills h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.skills h1 span {
    color: #b86bff;
}


.skill {
    margin-bottom: 25px;
}

.skill p {
    margin-bottom: 8px;
    font-size: 14px;
}


.bar {
    width: 100%;
    height: 10px;
    background-color: #1f1f1f;
    border-radius: 5px;
}


.fill {
    height: 100%;
    background-color: #b86bff;
    border-radius: 5px;
}


.html { width: 70%; }
.css  { width: 50%; }
.js   { width: 10%; }
.c    { width: 60%; }
.py   { width: 50%; }



.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 14px;
}

.skill-name {
    color: #ccc;
}

.skill-percent {
    color: #b86bff;
    font-weight: bold;
}
.fill {
    animation: load 1.0s ease forwards;
}

@keyframes load {
    from { width: 0; }
}